* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/adj_decl.txt -text
/apertium-chv-tur.chv-tur.dix -text
/apertium-chv-tur.chv-tur.lrx -text
/apertium-chv-tur.chv-tur.rlx -text
/apertium-chv-tur.chv-tur.t1x -text
/apertium-chv-tur.chv-tur.t2x -text
/apertium-chv-tur.chv-tur.t3x -text
/apertium-chv-tur.tur-chv.lrx -text
/apertium-chv-tur.tur-chv.rlx -text
/apertium-chv-tur.tur-chv.t1x -text
/apertium-chv-tur.tur-chv.t2x -text
/apertium-chv-tur.tur-chv.t3x -text
/apertium-chv-tur.tur-chv.t4x -text
/autogen.sh -text
/chv-tur.prob -text svneol=unset#unset
/configure.ac -text
/conversio.sh -text
/cv.sh -text
/decl.txt -text
dev/apertium-cv-tr.cv-tr-full.dix -text
dev/apertium-cv-tr.cv.lexc-19abril2012 -text
dev/tr-freq.txt -text
dev/tr-post.txt -text
/gen_adj.sh -text
/gen_noun.sh -text
/gen_noun_list.sh -text
/modes.xml -text
/noms.txt -text
/noun_decl.txt -text
/noun_decl_wiki.txt -text
/nova_versio.sh -text
/pending-tests.sh -text
/regression-tests.sh -text
/test.sh -text
texts/cv-1.txt -text svneol=unset#application/octet-stream
texts/cv-2.txt -text svneol=unset#application/octet-stream
texts/cv-3.txt -text
texts/cv-4.txt -text svneol=unset#application/octet-stream
texts/tr.txt -text
/tur-chv.prob -text svneol=unset#unset
/twolc_debug.py -text
/verb-wiki.txt -text
/wiki-tests.sh -text
/wiki_noun.tmpl -text
/wiki_verb.tmpl -text
/write_wiki_noun.sh -text
/write_wiki_verb.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
